<section class="container">    
    <div class="post-info">
        <div class="post-title-box">
            <p class="post-title">Post : <%= @post.title %> by <%= @post.author.name %></p>
            <p class="comment-text">Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></p>
        </div>
        <p><%= @post.text %></p>
    </div>
    <div class="comment-info">
        <% @post.recent_comments.each do |comment| %>
            <div>
                <p class="post-title">Comments</p>
                <p> 
                    <span>
                        <%= comment.author.name %>:
                    </span> 
                    <span>
                        <%= comment.text %>
                    </span>
                </p>                
            </div>
            <% if can? :destroy, comment %>
                <%= button_to "Delete", user_post_comment_path(@post.author, @post, comment), method: :delete, class: 'button' %>
            <% end %>         
        <% end %>
    </div>
    <div class="button-user">
        <% if can? :destroy, @post %>
            <%= button_to "Delete Post", user_post_path(@post.author, @post), method: :delete, class: "button" %>
        <% end %>
        <%= button_to "Back", user_path(@post.author, @post), method: :get, class: "button" %>
        <%= button_to "Add Comment", new_user_post_comment_path(@post.author, @post), method: :get, class: "button" %>
        <div >
            <%= form_with model: @like,  url: "/users/#{params['user_id']}/posts/#{params['id']}/likes", method: :post , local: true do |form|%>
                <%= form.submit "Like", class: 'button' %>
            <% end %>
        </div>
    </div>
</section>

