<div class='container mt-4'>
  <h1>Here are details of a user's post</h1>
  <div class="posts">
    <div class="post_comments">
      <h4><%=@posts.title%> by: <%=@posts.author.name%></h4>
      <span>Comments: <%=@posts.comments_counter%>, Likes: <%=@posts.likes_counter%></span>
    </div>
    <p><%=@posts.text%></p>
  </div>

  <div class= "comments">
    <%@posts.comments.each do |comment|%>
     <p><%= comment.author.name %>: <%=comment.text%></p>
    <%end%>
  </div>
</div>